@import url('https://fonts.googleapis.com/css?family=Lora');


/*basics*/
html{
    height: 100%;
}

body{
    height: 100%;
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    font-size: 1.2em;
    padding: 0px;
    margin: 0px;
}

h1,h2{
    font-family: 'Lora';
    margin: 0;
}



/*Header*/
header{
    background-color: #0B3954;
    color: #BFD7EA;
    width: 100%;
    padding: 5% 0%;
}
header a{
    color: #BFD7EA;
    text-decoration: none;

}
h1{
    padding: 20px;
}

a{
    padding: 10px;

}

a:link{
    color: #BFD7EA;
}
a:hover{
    text-decoration: underline;
    color: #ffffff;
}


/*body*/
main{

    background-color: #BFD7EA;
    height: 100%;
}
.shop{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

div{
    display: block;
}
.browse{
    display: inline;
    padding: 10px;
    width: 33.33%;
    background-color: #0B3954;
    margin: 10px;
}

#confirm{
 padding: 20px;
}
.thing{
    font-size: 2em;
}


